{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<!-- card -->
    <div class="container p-5">
        <div class="block welcome">
            <img src="{{ asset('images/homepage-welcome.png') }}" alt="ticketing yoomoonk welcome" class="w-100 h-auto" /> 
        </div>
    </div>

{% endblock %}

