<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ticketing Yoomoonk{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/lumen.css') }}" >
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <!-- Nav -->
    <nav class="navbar navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage_index') }}"><strong>Ticketing Yoomoonk</strong><span class="sr-only">(current)</span></a>
        <form class="form-inline ml-4 my-2 my-lg-0">
            <button type="button-inline" class="btn btn-dark mr-4"><a href="{{ path( 'ticket-index' ) }}">Liste des tickets</a></button>
            <button type="button-inline" class="btn btn-dark mr-4"><a href="{{ path( 'ticket-create' ) }}">Ajouter un ticket !</a></button>
        </form>
    </nav>
    <main>

        {% block body %}{% endblock %}

    </main>

    <!-- Footer -->
    <footer class="w-100 mt-5 pr-4 pl-4 pt-3 pb-3 d-flex">
      <small class="text-muted">made with &#9829</small>
      <a href="#">Copyright 2023 @Yoomoonk</a>
      <a href="#">Contact</a>
      <a href="#">Mentions légales</a>
      <a href="#">Politique de confidentialité</a>
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
